*{
  margin: 0;
  padding: 0;
  text-align: left;
}

.App {
  text-align: center;
}

body{
  background-color: rgb(0, 128, 57);
}

/* .mainBlock{} */

.userBlock{
  border: 1px grey solid;
  background-color: rgb(140, 155, 144);
  width: 400px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px;
  height: 94px;
  display: grid;
  grid-template-columns: 1fr 2.8fr;
}

.img{
  display: inline-block;
  height: 96px;
  width: 96px;
  border-radius: 10px;
}

.imgBlock{
  display: inline-block;
}